<!DOCTYPE html>
<html>
  <head>
    <title>Message BOX</title>
  </head>
   
  <body>
    <h1>Enter your Message here</h1>
  <form method="POST" action="/sumbit-form">
  <label for="senderName">Name:
  <input type="text" name="senderName"/>
   
  </label><br>
  <label for="message">Message:
  <input type="text" name="message"/>
  </label>
  <input type="submit">
  </form>
  </body>
  </html>
